:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}
.slogan {
  text-align: left;
}

.slogan h1 {
  font-size: 7rem;
  color: var(--primary-color);
}

.slogan button {
  padding: 1rem 5rem;
  outline: none;
  border: none;
  background-color: var(--background-color);
  border: 0.125rem solid var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color);
  margin: 3rem 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.slogan button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
