:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}
.food-menu {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.food-menu h1 {
  color: var(--grey);
}

.food-menu p {
  margin: 2rem 0;
}

.food-category {
  display: flex;
}

.food-category a {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  margin: 0 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.food-category a:hover,
.food-category a.active {
  background-color: var(--primary-color);
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  .food-menu {
    padding: 4rem 0;
  }
  .food-category {
    overflow-y: scroll;
  }
  .food-category::-webkit-scrollbar {
    display: none;
  }

  .food-category a {
    width: max-content;
  }
}
