.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.loading > img {
    width: 100%;
    object-fit: center;
    object-position: center;
}