* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}
a {
  color: unset;
  text-decoration: none;
}

body,
html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

.fullheight {
  height: 100vh;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

section {
  padding: 9rem 0;
}
.fullwidth {
  width: 100%;
}

/* Grid System */

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.mb-nav {
  display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  *{
    font-size: 13px;
  }
  h1 {
    font-size: 3rem !important;
  }
  span {
    font-size: inherit;
  }
  .col-xs-1 {
    width: 8.33%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-5 {
    width: 41.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-11 {
    width: 91.66%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
